/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */

body{
	display: flex;
	min-height: 100vh;
	margin: 0;
}

nav{
	flex-grow: 1;
	padding:10px;
}

.nav{
	flex-grow: 6;
	display: flex;
	flex-direction: column;
}

header, footer{
	min-height: 10vh;
	padding:10px;
}

article{
	min-height: 80vh;
	padding:10px;
}

/* -------------------------------------------- */


