/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */

body{
	display: flex;
	margin: 0px;
	flex-wrap: wrap;
}

header, footer{
	flex-basis: 100%;
	padding: 10px;
	min-height: 10vh;
}

nav, aside{
	flex-grow: 1;
	padding: 10px;
	min-height: 80vh;
}

article{
	flex-grow: 4;
	padding: 10px;
	min-height: 80vh;
}



/* -------------------------------------------- */


