/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
body{
	--vyska: 10vh;
	margin: 0;
}

header{
	min-height: var(--vyska);
	padding:10px;
}

.main{
	display:flex;
	min-height: 80vh
}

article{
	flex-grow: 3;
	padding:10px;

}

aside{
	flex-grow: 1;
	padding:10px;
}

nav{
	flex-grow: 1;
	padding:10px;
}
footer{
	min-height: var(--vyska);
	padding:10px;
}

/* -------------------------------------------- */


